body{
    margin: 0;
    font-family: 'Amatic SC', cursive;
    display: block;
}

*{
    box-sizing: border-box;
}

.boxes{
    display: flex;
    height: 100vh;    
    overflow: hidden;
}

.box{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: block;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    transition: 
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
/*        transform 0.7s linear,*/
        background 0.2s;
}

.photoOne{
    background-image: url(../img/Ja-mniejsza-rozdzielczosc.jpg);
}

.photoTwo{
    background-image: url(../img/wallpaper2you_332371.jpg);
}

.photoThree{
    background-image: url(../img/wallpaper2you_332377.jpg);
}

.photoFour{
    background-image: url(../img/wallpaper2you_332379.jpg);
}

.photoFive{
    background-image: url(../img/wallpaper2you_332388.jpg);
}


.box p{
    margin: 0;
    text-transform: uppercase;
    font-size: 40px;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:transform 1s;
    text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);    
/*    transition: flex-grow 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);*/

}

.box p:first-child{
    transform: translateY(-100%);
}

.box p:last-child{
    transform: translateY(100%);
}

.box.open-active p:first-child,
.box.open-active p:last-child{
    transform: translateY(0%);
    font-size: 60px;
}

.box p:nth-child(2){
    font-size: 80px
}

.box.open{
    flex: 5;
}
